

.f {
  flex: 1;
  font-family: 'Roboto',sans-serif;
  background-color: #202125;
  flex-direction: column;
  min-height: 90vh;
  display: flex;
  width: 100vw;
  color: white;

}

.pf_title {

 
  margin-left: 16.6667%;
  font-size: 3vw;
  font-weight: 700;
  color:azure;
}

.rowf {
 
  height: auto;
  flex:1;
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-left: 16.6667%;
  margin-right: 16.6667%;
  justify-content: space-around;
}

.colf {
  margin-top: 20vh;
  display: flex;
  height: 26vh;
  width:20vw;
  box-sizing: border-box;
  flex-direction: row;

  border-radius: 20vw; 
  transition: transform 0.3s ease, color .3s ease;
}

.colfw {

  display: flex;
  height: 25vh;
  width:20vw;
  box-sizing: border-box;
  flex-direction: row;
 
  border-radius: 20vw; 
  transition: transform 0.3s ease, color .3s ease;
}


.fun_slot {
  font-size:5vw;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;

  align-items: center;
  background-size: cover;
  background-position: center;
  font-weight: 400;
  width: 100%;
  border-radius: 1.5vw; 
  text-shadow: -0.15vw -0.15vw 0.15vw black, 0.15vw -0.15vw 0.15vw black, -0.15vw 0.15vw 0.15vw black, 0.15vw 0.15vw 0.15vw black;

}

.colf:hover {
  transform: scale(1.05); 
  color:#9ed8f9;
}
