
.nav {
  height:10vh;
  background-color: #202125;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
  font-size: 1.75vw;
  z-index: 999;
}

.l {
  color: azure;
}

.left {
  display: flex;
  width: 8.3333%;
  margin-left: 8.3333%;
  align-items: flex-end;
  justify-content: flex-start;
}

.left img {
  width: 95%;
  height: auto; 
  /* margin-top: 25px; */
  margin-top:2.5vh;
  transition: transform .3s ease;
}

.left img:hover {
  transform: scale(1.2);
}


.middle {
  flex: 1;
  width:max-content;
  
  display: flex;
  transition: font-size 0.3s ease, transform .3s ease;
}


.nav .right .iconS:hover,
.nav .right .iconE:hover,
.nav .right .iconG:hover,
.nav .right .iconL:hover {
  color: #9ed8f9;
  transform: scale(1.2);
}


.nav .right .iconS,
.nav .right .iconE,
.nav .right .iconG,
.nav .right .iconL {
  transition: transform 0.3s ease;
  font-size: 2.5vw;
}


.nav .right {
  height: 80px;
  display: flex;
  width: 8.33%;
  margin-right: 8.33%;
  justify-content: space-between;
  align-items: center;
}


.middle .l {
  font-size: 1.75vw;
  color: azure;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav .middle .l:hover {
  color: #9ed8f9;
  transform: scale(1.15);
}


.middle .left1 {
  display: flex;
  width:auto;
 
  margin-right:1vw;
  justify-content: flex-start;
  align-items: center;
  gap:1vw;
}
.middle .right1 {
  flex: 0 0 auto;
  display: flex;
  margin-left: 0px;
  align-items: center;
  gap:1vw;
  width: 50%;
}

